.cabecalho{
  background-image: url(../img/background.jpg);
  background-size: cover;
  box-shadow: 0 0 12px 2px var(--verde);
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0 0;
  margin-bottom: 25px;
  width: 100vw;
}

.cabecalho__perfil{
  display: flex;
  width: 100%;
  height: 33.33%;
  justify-content: center;
  align-items: center;
}

.cabecalho__texto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 33.33%;
  width: 100%;
}

.cabecalho__titulo{
  font-family: 'Merriweather', sans-serif;
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 50px;
  color: var(--verde);
  text-align: center;
  padding: .5rem;
}

.cabecalho__titulo-nome{
  font-family: 'Merriweather', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.3rem;
  line-height: 2.8rem;
  color: var(--branco);
}

.cabecalho__perfil-img{
  height: 160px;
  border-radius: 100%;
  border: 2px outset var(--verde);
  padding: 10px;
}

.navegacao{
  align-items: center;
  display:  flex;
  height: 33.33%;
  justify-content: space-around;
  /* padding: 0 10px 10px 10px; */
  width: 100%;
}

.navegacao__lista{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.navegacao__lista__link{
  background-color: var(--cinza-escuro);
  border: 2px solid var(--cinza);
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 var(--verde);
  margin-bottom: 20px;  
  padding: 1px;
  text-align: center;
  width: 150px;
}

.navegacao__lista__link:last-child{
  margin-bottom: 0;  
}

.navegacao__lista__link a{
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--verde);
  line-height: 1.8rem;
}
