.cabecalho{
  background-image: url(../img/background.jpg);
  background-size: cover;
  box-shadow: 0 17px 15px 5px var(--preto);
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0 0;
  margin-bottom: 40px;
  width: 100vw;
  max-width: 100%;
}

.cabecalho__perfil{
  display: flex;
  width: 100%;
  height: 33.33%;
  justify-content: center;
  align-items: center;
}

.cabecalho__texto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 33.33%;
  width: 100%;
}

.cabecalho__titulo{
  font-family: 'Merriweather', sans-serif;
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 50px;
  color: var(--verde);
  text-align: center;
  padding: .5rem;
}

.cabecalho__titulo-nome{
  font-family: 'Merriweather', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.3rem;
  line-height: 2.8rem;
  color: var(--branco);
}

.cabecalho__perfil-img{
  height: 160px;
  border-radius: 100%;
  border: 2px outset var(--verde);
  padding: 10px;
}

.navegacao{
  align-items: center;
  display:  flex;
  height: 33.33%;
  justify-content: space-around;
  width: 95%;
}

.navegacao__lista{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.navegacao__lista__link{
  color: var(--verde);
  background-color: var(--cinza-escuro);
  border: 2px solid var(--cinza);
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 var(--verde);
  font-family: 'Merriweather', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin-bottom: 15px;
  text-decoration: none;
  transition: .4s background-color ease-in-out .1s, .5s color ease-in-out .1s;
  width: 80%;
}

.navegacao__lista__link:hover{
  background-color:var(--verde);
  color: var(--preto);
}

.navegacao__lista__link--li{
  padding: 1px;
  text-align: center;
  width: 100%;
}

.navegacao__lista__link:last-child{
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .navegacao__lista{
    flex-direction: row;
  }
  
  .navegacao__lista__link{
    margin: 0 18px 0 0;
    width: 100%;
  }

  .navegacao__lista__link:last-child{
    margin-right: 0;
  }

  .navegacao__lista__link:nth-child(3){
    margin-right: 18px;
  }
  .navegacao__lista__link--li{
    margin: 0;
  }
}
