.contato{
  padding: 0 16px 0 16px;
  height: 80vh;
}

.contato__titulo{
  color: var(--verde);
  font-family: 'Merriweather', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: left;
}

.contato__redes{
  justify-content: space-evenly;
  display: flex;
  height: 50px;
  padding: 16px;
}

.contato__github{
  height: 50px;
}

.contato__linkedin{
  height: 50px;
}

.contato__formulario{
  display: flex;
  flex-direction: column;
}

.contato__form__label{
  color: var(--branco-suave);
  font-family: 'Merriweather', sans-serif;
  font-size: 1.5  rem;
  font-weight: 200;
  line-height: 2rem;
  text-align: left;
}

.contato__form__input{
  color: var(--branco-suave);
  background-color: var(--cinza-claro);
  border: none;
  border-bottom: 1px solid var(--verde);
  font-size: 1rem;
  margin-bottom: 20px;
  padding: 10px 15px;
  resize: none;
}

.contato__form__input__enviar{
  background-color: var(--cinza-escuro);
  border: 2px solid var(--verde);
  border-radius: 8px;
  color: var(--verde);
  font-family: 'Merriweather', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  height: 50px;
  line-height: 1.8rem;
  text-align: center;
}

.contato__form__input--nome{
  height: 5vh;
}

.contato__form__input--email{
  height: 5vh;
}

.contato__form__input--assunto{
  height: 5vh;
}

.contato__form__input--mensagem{
  height: 20vh;
}

@media screen and (min-width: 1024px) {
  .contato{
    padding: 0 25px 0 25px;
    margin-bottom: 10px;
  }

  .contato__container{
    display: flex;
    width: 100%;
    height: calc(80vh - 4rem);
  }

  .contato__formulario{
    width: 80%;
  }
  .contato__redes{
    align-items: center;
    height: calc(80vh - 4rem);
    padding: 0;
    width: 60%;
  }
  
  .contato__github{
    height: 70px;
  }
  
  .contato__linkedin{
    height: 70px;
  }
  .contato__form__input__enviar{
    width: 50%;
  }

}