.projetos{
  padding: 0 16px 0 16px;
  height: calc(150vh + 4rem);
  margin-bottom: 25px;
}

.projetos__titulo{
  color: var(--verde);
  font-family: 'Merriweather', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: left;
}

.projetos__cards{
  display: grid;
  gap: 8px;
  grid-template-areas:
    "forca"
    "decodificador"
    "MIPS";
  grid-template-columns: 100%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  height: 90%;
}

.projetos__card--forca{
  grid-area: forca;
  grid-column: 1;
  grid-row: 1 / 1;
}

.projetos__card--decodificador{
  grid-area: decodificador;
  grid-column: 1;
  grid-row: 2 / 2;
}

.projetos__card--MIPS{
  grid-area: MIPS;
  grid-column: 1;
  grid-row: 3 / 3;
}

.projetos__card{
  display: grid;
  grid-template-areas:
    "card-imagem"
    "card-texto"
    "card-botao";
  grid-template-columns: 100%;
  grid-template-rows: 55% 30% 15%;
}

.projetos__card__imagem{
  grid-area: card-imagem;
  grid-row: 1 / 1;
}

.projetos__card__corpo{
  background-color: var(--cinza-escuro);
  display: grid;
  grid-area: card-texto;
  grid-template-areas:
    "titulo"
    "descritivo";
  grid-template-columns: 100%;
  grid-template-rows: 35% 65%;
  grid-row: 2 / 2;
  height: 100%;
  align-items: center;
  padding: 0px 12px;
}

.projetos__card__titulo{
  color: var(--verde);
  font-family: 'Merriweather', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  grid-area: titulo;
  grid-column: 1;
  grid-row: 1 / 1;
  line-height: 1.8rem;
  padding: 6px 0;
}

.projetos__card__descritivo{
  color: var(--branco-suave);
  font-family: 'Merriweather', sans-serif;
  font-size: .9rem;
  font-weight: 300;
  grid-area: descritivo;
  grid-column: 1;
  grid-row: 2 / 2;
  line-height: 1.5rem;
  text-align: justify;
}

.projetos__card__botao{
  align-items: center;
  background-color: var(--cinza-escuro);
  display: grid;
  grid-area: card-botao;
  grid-row: 3 / 3;
  grid-template-areas:
    "botao-pages"
    "botao-repositorio";
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  justify-items: center;
  padding-bottom: 5px;
  width: 100%;
}

.projetos__card__botao--pages{
  background-color: var(--cinza-escuro);
  border: 2px solid var(--verde);
  border-radius: 8px;
  color: var(--verde);
  font-family: 'Merriweather', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  grid-area: botao-pages;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  height: 35px;
  line-height: 1.8rem;
  text-align: center;
  width: 85%;
}

.projetos__card__botao--repositorio{
  background-color: var(--verde);
  border: 2px solid var(--preto);
  border-radius: 8px;
  color: var(--preto);
  font-family: 'Merriweather', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  grid-area: botao-repositorio;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  height: 35px;
  line-height: 1.8rem;
  text-align: center;
  width: 80%;
}

.projetos__card__botao--repositorio--mips{
  background-color: var(--cinza-escuro);
  border: 2px solid var(--verde);
  border-radius: 8px;
  color: var(--verde);
  font-family: 'Merriweather', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  grid-area: botao-pages;
  grid-column: 1 / 3;
  grid-row: 1 / 1;
  /* height: 20%; */
  line-height: 1.8rem;
  text-align: center;
  width: 75%;
}

.projetos__card__imagem--forca{
  background: url(../img/forca.jpg) center no-repeat;
  background-size: 100% 100%;
  grid-area: forca;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.projetos__card__imagem--decodificador{
  background: url(../img/decodificador.jpg) center no-repeat;
  background-size: 100% 100%;
  grid-area: decodificador;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.projetos__card__imagem--MIPS{
  background: url(../img/mips.jpg) center no-repeat;
  background-size: 100% 100%;
  grid-area: MIPS;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

@media screen and (min-width: 658px) {
  .projetos{
    height: calc(100vh - 5rem);
    padding: 0 25px 0 25px;
  }
  .projetos__cards{
    gap: 0px;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 100%;
    width: 100%;
    margin: 0 15p;
  }

  .projetos__card--forca{
    grid-column: 1 / 1;
    grid-row: 1;
  }
  
  .projetos__card--decodificador{
    grid-column: 2 / 2;
    grid-row: 1;
  }
  
  .projetos__card--MIPS{
    grid-column: 3 / 3;
    grid-row: 1
  }

  .projetos__card{
    grid-template-columns: 100%;
    grid-template-rows: 45% 40% 15%;
    width: 99%;
  }

  .projetos__card__botao--repositorio{
    font-size: 0.7rem;
  }

  .projetos__card__botao--pages{
    font-size: 0.9em;
  }

  .projetos__card__botao--repositorio--MIPS{
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1024px) {
  .projetos{
    height: calc(75vh - 5rem);
    padding: 0 25px 0 25px;
  }
  
  .projetos__card{
    grid-template-rows: 45% 40% 15%;
  }

  .projetos__card__botao--repositorio{
    font-size: 1.1rem;
  }

  .projetos__card__botao--pages{
    font-size: 1.1em;
  }

  .projetos__card__botao--repositorio--MIPS{
    font-size: 1.1rem;
  }

}