.rodape{
  align-items: center;
  background-color: var(--cinza-escuro);
  display:flex;
  flex-direction:column;
  height: 10vh;
  justify-content: center;
}

.rodape__titulo{
  color: #5c5c5c;;
  font-family: 'Merriweather', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
}

.rodape__descritivo{
  color: #5c5c5c;
  font-family: 'Merriweather', sans-serif;
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.2rem;
}